.task-form {
    display: flex;
    margin: 20px;
}
.task-input {
    padding: 3px 10px;
    border-radius: 3px;
}
.task {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 33%;
    margin: 10px;
    /*overflow: hidden;*/
}
.task p {
    margin: 3px 15px;
}
.btn-add {
    margin: 0 20px;
    background: deepskyblue;
    border-radius: 5px;
    padding: 3px 15px;
}
.btn-remove {
    /*float: right;*/
    width: 30px;
    height: 30px;
    font-size: 0;
    background: url("../img/remove.svg") 50% 50% no-repeat;
}